*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-green: #c5f82a;
    --clr-neutral-white: #ffffff;
    --clr-neutral-grey: #333333;
    --clr-neutral-dark-grey: #1f1f1f;
    --clr-neutral-off-black: #141414;

    --ff: 'inter',
        sans-serif;
    --fs-body: .875rem;
    --fs-heading: 1.375rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

}

h1 {
    line-height: 1.1;
}

ul li {
    list-style: none;

}

a {
    color: var(--clr-neutral-white);
    text-decoration: none:dashed;


}

.att {
    color: var(--clr-primary-green);
}

body {
    text-align: center;
    font-family: (--ff);
    font-weight: var(--fw-400);
    font-size: var(--fs-body);
    color: var(--clr-neutral-white);
    background: var(--clr-neutral-off-black);
}

.list-item {
    list-style-type: none;
    display: block;
    width: 100%;
    padding: .7rem;
    border-radius: .3rem;
    background: var(--clr-neutral-grey);
    text-align: center;
    transition: background .3s ease-in-out, color .3s ease;

}

.img {
    margin-inline: auto;
    display: block;
    max-width: 100%;
    color: var(--clr-primary-green);
    font-style: italic;
}

.user-name {
    font-size: var(--fs-heading);
    font-weight: 600;
    margin-bottom: .5rem;
}

.user-location {
    color: var(--clr-primary-green);
    font-weight: var(--fw-600);
    margin-bottom: 1.25rem;

}

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100dvh;

}

.profile-container {
    width: 25em;
    padding: 1.75rem;
    border-radius: .6rem;
    background: var(--clr-neutral-dark-grey)
}

.social-links *+* {
    margin-top: .75rem;
}

.list-item:hover {
    background: var(--clr-primary-green);
    color: var(--clr-neutral-off-black);
}

.user-image {
    width: 6em;
    margin-bottom: 1.5rem;
    border-radius: 50%;
}

.user-description {
    margin-bottom: 0.25rem;

}